doctype html
html
	head
		title="hello pug"
	body
		p.greetings#people Hello World!
		
		h1 welcome to pug 
		
		div
			| To insert multiline text,
			| you can use the pipe operator.
			
		div.
			but that gets tidius if you have a lot of text.
			you can use "." at the very end of a tag to denote block of text.
			to put tags inside this block, simply enter tag in a new line and
			indent it acordingly
			
		// this is a pug comment
		
